body {
    background-color: #E3DAC9;
}
/*Rando git test*/
/*Top Rectangle Container*/
.top-rect {
    width: 100%; /*or specific with pixels (px) */
    height: 200px;
    background-color: #7DA27E;
    position: fixed; /*To place precisely on top */
    top: 0;
    left: 0;
    text-align: center;
    z-index: 100; /* Ensure this rect appears on top of other elements */
    border-bottom: 3px solid black;
}
#title {
  font-size: 100px;
  text-align: center;
  margin-top: 50px;
  font-weight: bold;
}

/*----------FIRST ROW OF FRUIT PICS----------*/
.fruitpics1 {
    margin-top: 220px; /*Below top rect */
    margin-left: 500px;
    margin-right: 500px;
    display: flex;
    justify-content: space-around; /*even spaceing between edges */
    align-items: center;
    padding: 40px;
}
/*Format image itself*/
.fruitpics1 img {
    width: 200px;
    height: 200px;
    border: 2px solid black;
    border-radius: 8px;
}
/*align image inside of figure block*/
.fruitpics1 figure {
  text-align: center;
  margin: 0;
}
/*Fruit button style*/
.fruit1-button-class {
  display: flex;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-align: center;
  justify-content: space-around;
}
/*----------SECOND ROW OF FRUIT PICS----------*/
.fruitpics2 {
    margin-top: 0; /*Below top rect and first pic row */
    margin-left: 500px;
    margin-right: 500px;
    display: flex;
    justify-content: space-around; /*even spaceing between edges */
    align-items: center;
    padding: 40px;
}
/*Format image itself*/
.fruitpics2 img {
    width: 200px;
    height: 200px;
    border: 2px solid black;
    border-radius: 8px;
}
/*align image inside of figure block*/
.fruitpics2 figure {
  text-align: center;
  margin: 0;
}
/*Fruit button style*/
.fruit2-button-class {
  display: flex;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-align: center;
  justify-content: space-around;
}