<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Banana Page</title>
        <link rel="stylesheet" href="../../static/css/bananas.css" type="text/css">
    </head>
<body>
    <div class="top-rect">
        <p id="title">Bananas!</p>
    </div>
    
    <div class="slideshow">

    <div class="mySlides">
        <img src="../../static/images/bananalist/1.jpg">
    </div>

    <div class="mySlides">
        <img src="../../static/images/bananalist/2.jpg">
    </div>

    <div class="mySlides">
        <img src="../../static/images/bananalist/3.jpg">
    </div>

        <div class="mySlides">
        <img src="../../static/images/bananalist/4.jpg">
    </div>

        <div class="mySlides">
        <img src="../../static/images/bananalist/5.jpg">
    </div>

    <div class="mySlides">
        <img src="../../static/images/bananalist/6.jpg">
    </div>

    <div class="mySlides">
        <img src="../../static/images/bananalist/7.jpg">
    </div>

    <div class="mySlides">
        <img src="../../static/images/bananalist/8.jpg">
    </div>

    <div class="mySlides">
        <img src="../../static/images/bananalist/9.jpg">
    </div>

    <div class="mySlides">
        <img src="../../static/images/bananalist/10.jpg">
    </div>

    </div>
    <br>

    <script src="../../scripts/slideshow.js"></script>
</body>
</html>