{% extends "featuretemp.html" %}

{% block title %}Grapes!{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/grapes.css') }}" />
{% endblock %}

{% block body %}
  <div class="top-rect">
    <p id="title">Grapes!</p>
    <div>
    <a href="{{ url_for('backhome_page') }}" class="homebutton">HOME PAGE</a>
    </div>
  </div>

  <div class="slideshow">
    {% for i in range(1, 11) %}
      <div class="mySlides">
        <img src="{{ url_for('static', filename='images/grapelist/' ~ i ~ '.jpg') }}" alt="Grape {{ i }}">
      </div>
    {% endfor %}
  </div>

  <script src="{{ url_for('static', filename='scripts/slideshow.js') }}" defer></script>
{% endblock %}