.homebutt {
    font-size: 36px;
    position: relative;

}

.landingbackground {
    height: 100%;
    width: 100%;
}

body {
    background-image: url("../images/countrytemp/nebula.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: silver;
}

.top-rect-country {
    border-color: red;
}

.left-rect-country {
    border-color: orange;
}

.right-rect-country {
    border-color: yellow;
}

.bottom-rect-country {
    border-color: green;
}

.bottom-rect-country img {
    border-color: blue;
}

