{% extends "landingbackground.html" %}
{% block title %}{{ country.name }} - Fruit Facts{% endblock %}
{% block body %}
 

<div class="gohome">
  <div class="homebutt">
      <a href="{{ url_for('backhome_page') }}" class="homebutton"><img class="ufo" src="../static/images/countrytemp/ufo.png"></a>
  </div>
</div>

<div class="scene">
  <img class="alien" src="../static/images/countrytemp/alien.png" alt="alien">

  <!-- visual portal (not clickable) -->
  <div class="portal"></div>

  <!-- the ONLY clickable area (perfect circle) -->
  <a class="portal-hit" href="{{ url_for('space_page') }}" aria-label="Enter portal"></a>

  <!-- astronaut floats outside the portal -->
  <img class="astro" src="../static/images/astro.png" alt="astro">
</div>


<div class="wholething">
  <!--<img src="../static/images/beachbar.jpg" class="landingbackground"> -->

  <div class="top-rect-country">
 
    <p id="title">{{ country.name }}</p>
    
  </div>

  <div class="bottom-rect-country">
    <div class="left-rect-country">
      <h2 class="fruitofday-country">Fruit Facts</h2>
      <ul>
        {% for f in facts %}
          <li>
            <strong>{{ f.fruit }}:</strong> {{ f.fact }}
            {% if f.fruit_image %}
              {% set fimg = f.fruit_image|replace('\\','/') %}
              {% if '://' in fimg %}
                <img src="{{ fimg }}" alt="{{ f.fruit }}" class="newimg">
              {% else %}
                {# Strip leading "static/" if present, then serve via url_for #}
                {% set ffile = fimg.startswith('static/') and fimg[7:] or fimg %}
                <img src="{{ url_for('static', filename=ffile) }}" alt="{{ f.fruit }}">
              {% endif %}
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>

    <div class="right-rect-country">
      {% if country.hero_image %}
        {% set img = country.hero_image|replace('\\','/') %}
        {% if '://' in img %}
          <img class="towel-img" src="{{ img }}" alt="{{ country.name }}">
        {% else %}
          {# If DB stored "static/images/...", drop the leading "static/" #}
          {% set file = img.startswith('static/') and img[7:] or img %}
          <img class="towel-img" src="{{ url_for('static', filename=file) }}" alt="{{ country.name }}">
        {% endif %}
      {% endif %}
      <p class="worldFruit">{{ country.summary }}</p>
    </div>
  </div>

  
</div>
{% endblock %}
