<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Website384</title>
        <link rel="stylesheet" href="../home.css" type="text/css">
    </head>

    <body>

        <div class="top-rect">
            <p id="title">Fruit Stand</p>
        </div>


        <div class="bottom-rect">

            <div class="left-rect">
                <p class="fruitofday">New Fruits in Stock!</p>
                <p id="fruitofdaydesc">Vote On A New Fruit!</p>      
                <div class="slideshowHome">

                    <div class="mySlidesHome">
                        <img src="../images/fruitoftheday/tomato.jpg">
                    </div>

                    <div class="mySlidesHome">
                        <img src="../images/fruitoftheday/raspberry.jpg">
                    </div>

                    <div class="mySlidesHome">
                        <img src="../images/fruitoftheday/orange.jpg">
                    </div>

                        <div class="mySlidesHome">
                        <img src="../images/fruitoftheday/kiwi.jpg">
                    </div>

                        <div class="mySlidesHome">
                        <img src="../images/fruitoftheday/jackfruit.jpg">
                    </div>

                    <div class="mySlidesHome">
                        <img src="../images/fruitoftheday/cantaloupe.jpg">
                    </div>

                    <div class="mySlidesHome">
                        <img src="../images/fruitoftheday/apple.jpg">
                    </div>

                </div>

            </div>

            <div class="right-rect">
                <div class="towel">      
                    <img class="towel-img" src="../images/beachtowel.jpg" alt="towel">
                    <div class="portal"></div>
                    <p class="worldFruit">Explore The Mysteries Of Fruit!</p>
                    <img class="astro" src="../images/astro.jpg" alt="astro">
                </div>


            </div>

            <div class="bothpicrows">
                <div class="fruitpics1"> 
                    <a href="../pages/coconuts.html" class="fruit1-button-class">
                        <figure>
                            <img src="../images/coconuts.jpg" alt="Picture 1">
                            <figcaption>Coconuts</figcaption>
                        </figure>
                    </a>

                    <a href="../pages/bananas.html" class="fruit1-button-class">
                        <figure>
                            <img src="../images/bananas.jpg" alt="Picture 2">
                            <figcaption>Bananas</figcaption>
                        </figure>
                    </a>

                    <a href="../pages/pineapples.html" class="fruit1-button-class">
                        <figure>
                            <img src="../images/pineapples.jpg" alt="Picture 3">
                            <figcaption>Pineapples</figcaption>
                        </figure>
                    </a>
                </div>

                <!------------------------SECOND ROW OF PICS----------------------------------------------->
                <div class="fruitpics2"> 
                    <a href="../pages/strawberries.html" class="fruit2-button-class">
                        <figure>
                            <img src="../images/strawberries.jpg" alt="Picture 4">
                            <figcaption>Strawberries</figcaption>
                        </figure>
                    </a>

                    <a href="../pages/grapes.html" class="fruit2-button-class">
                        <figure>
                            <img src="../images/grapes.jpg" alt="Picture 5">
                            <figcaption>Grapes</figcaption>
                        </figure>
                    </a>

                    <a href="../pages/watermelons.html" class="fruit2-button-class">
                        <figure>
                            <img src="../images/watermelons.jpg" alt="Picture 6">
                            <figcaption>Watermelons</figcaption>
                        </figure>
                    </a>
                </div>
            </div>
        </div>

    <div class="test">
        <p>
            TEXT
        </p>
    </div>
    <script src="../scripts/fruitvotehome.js" defer></script>
    </body>

</html>


    <!--   <body>
        <div class='top-rect'>
        <form method="POST" action="/submit">
            <label for="name">Name:</label><br>
            <input type="text" id="name" name="user_name"><br><br>
            <label for="email">Email:</label><br>
            <input type="email" id="email" name="user_email"><br><br>
            <input type="submit" value="Submit">
        </form>
        </div>
    </body>
-->
    