{% extends "base.html" %}
{% block title %}Test Home{% endblock %}
{% block body %}

    <body>


        <div class="top-rect">
            <p id="title">Fruit Stand</p>
        </div>


        <div class="bottom-rect">

            <div class="left-rect">
                <div class="leftsign">
                    <div class="lefttree">
                        <img class="lefttree-img" src="../static/images/homepage/leftpalm.png" alt="lefttree">
                    </div>
                <p class="fruitofday">New Fruits in Stock!</p>
                <p id="fruitofdaydesc">Vote On A New Fruit!</p>      
                <div class="slideshowHome">

                    <div class="mySlidesHome">
                        <img src="../static/images/fruitoftheday/tomato.jpg">
                    </div>

                    <div class="mySlidesHome">
                        <img src="../static/images/fruitoftheday/raspberry.jpg">
                    </div>

                    <div class="mySlidesHome">
                        <img src="../static/images/fruitoftheday/orange.jpg">
                    </div>

                        <div class="mySlidesHome">
                        <img src="../static/images/fruitoftheday/kiwi.jpg">
                    </div>

                        <div class="mySlidesHome">
                        <img src="../static/images/fruitoftheday/jackfruit.jpg">
                    </div>

                    <div class="mySlidesHome">
                        <img src="../static/images/fruitoftheday/cantaloupe.jpg">
                    </div>

                    <div class="mySlidesHome">
                        <img src="../static/images/fruitoftheday/apple.jpg">
                    </div>

                </div>
                </div>
            </div>

            <div class="right-rect">
                <div class="rightsign">
                    <div class="righttree">
                        <img class="righttree-img" src="../static/images/homepage/rightpalm.png" alt="righttree">
                    </div>
                <div class="towel">      
                    <img class="towel-img" src="../static/images/beachtowel.jpg" alt="towel">
                    <div class="portal"></div>
                    <p class="worldFruit">Explore The Mysteries Of Fruit!</p>
                    <a href="{{ url_for('space_page') }}" class="fruit1-button-class"><img class="astro" src="../static/images/astro.jpg" alt="astro"></a>
                </div>
                </div>
            </div>
            
            <div class="bothpicrows">
                <h1 class="featuredfruit">Featured Fruit</h1>
                <div class="fruitpics1"> 
                    <a href="{{ url_for('coconuts_page') }}" class="fruit1-button-class">
                        <figure>
                            <img src="../static/images/coconuts.jpg" alt="Picture 1">
                            <figcaption>Coconuts</figcaption>
                        </figure>
                    </a>

                    <a href="{{ url_for('bananas_page') }}" class="fruit1-button-class">
                        <figure>
                            <img src="../static/images/bananas.jpg" alt="Picture 2">
                            <figcaption>Bananas</figcaption>
                        </figure>
                    </a>

                    <a href="{{ url_for('pineapples_page') }}" class="fruit1-button-class">
                        <figure>
                            <img src="../static/images/pineapples.jpg" alt="Picture 3">
                            <figcaption>Pineapples</figcaption>
                        </figure>
                    </a>
                </div>

                <!------------------------SECOND ROW OF PICS----------------------------------------------->
                <div class="fruitpics2"> 
                    <a href="{{ url_for('strawberries_page') }}" class="fruit2-button-class">
                        <figure>
                            <img src="../static/images/strawberries.jpg" alt="Picture 4">
                            <figcaption>Strawberries</figcaption>
                        </figure>
                    </a>

                    <a href="{{ url_for('grapes_page') }}" class="fruit2-button-class">
                        <figure>
                            <img src="../static/images/grapes.jpg" alt="Picture 5">
                            <figcaption>Grapes</figcaption>
                        </figure>
                    </a>

                    <a href="{{ url_for('watermelons_page') }}" class="fruit2-button-class">
                        <figure>
                            <img src="../static/images/watermelons.jpg" alt="Picture 6">
                            <figcaption>Watermelons</figcaption>
                        </figure>
                    </a>
                </div>
            </div>
        </div>

    <div class="test">
        <p>
            TEXT
        </p>
    </div>
    
    <script>
        const slides = document.querySelectorAll('.mySlidesHome');
        if (slides.length > 0) {
        // Pick a random slide
        const current = Math.floor(Math.random() * slides.length);
        
        // Show it
        slides[current].classList.add("active");
        }

    </script>
    </body>

{% endblock %}
 